.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
myModule/modeling/**/*.js
myModule/manifold-3d/**/*.js
myModule/manifold-3d/**/*.wasm
**/.vscode-test.*

